.card {
    position: relative;
    width: 450px;
    height: 600px;
    overflow: hidden;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

body img {
    position: relative;
    border-radius: 40px;
    width: 100%;
    height: 100%;
    object-fit: none;
}

button {
    cursor: pointer;
}

.save {
    position: absolute;
    top: -110px;
    right: 10px;
    background-color: red;
    border-radius: 40px;
    text-align: center;
    color: white;
    transition: all 1s linear;
    border: 0;
    width: 150px;
    height: 100px;
    font-weight: bold;
    font-size: xx-large;
}

.card:hover .save {
    transform: translateY(120px);
}

.shadow {
    top: 0;
    left: 0;
    border-radius: 40px;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    opacity: 0;
    transition: opacity 1s linear;
}

.card:hover .shadow {
    opacity: 0.6;
}

.container {
    position: absolute;
    bottom: -80px;
    left: 0;
    transition: all 1s linear;
}

.card:hover .container {
    transform: translateY(-90px);
}

.container button {
    background-color: white;
    color: black;
}

.goTo i {
    rotate: -45deg;
}

.upload,
.options,
.goTo {
    height: 70px;
    border: 0;
    font-size: large;
    font-weight: bold;
}

.upload,
.options {
    border-radius: 50%;
    width: 70px;
    background-color: rgba(255, 255, 255, 0.8) !important;
}

.goTo {
    margin-left: 10px;
    border-radius: 40px;
    width: 225px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.upload {
    margin-left: 45px;
}

.options {
    margin-left: 10px;
}